*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial;
    }
    body{
        background-color: rgb(26, 25, 25);
    }
   

    .header{
      background-image: url(images/netflix.jpg); 
      height: 100vh;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .nav{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    }
    .logo img{
    width: 110px;
    }
    .btn{
    background: rgb(219, 5, 5);
    color: white;
    width: 18%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    }
    .btn:hover{
    background:rgb(153, 3, 3) ;
    
    }
    .middle-content{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    justify-content: center;
    text-align: center;
    }
    .middle-content h2{
    font-size: 34px;
    font-weight: bolder;
    width: 80%;
    margin-bottom: 15px;
    }
    .first-text{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    }
    .second-text{
    font-size: 20px;
    font-weight: 400; 
    width: 70%;
    margin-bottom: 15px;
    }
    .flex-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
    .form {
    width: 220%;
    height: 8vh;
    background:rgb(39, 39, 39);
    opacity:0.8;
    border: none;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 15px;
    overflow: hidden;
    
    }
    .form::placeholder{
    color: rgb(243, 237, 237);
    font-size: 18px;
    padding-left: 10px;
    }
    .my-btn{
    background: rgb(219, 5, 5);   
    color: white;
    border: none;
    width:150px;
    height: 50px;
    font-size: 17px;
    text-transform: capitalize;
    border-radius: 5px;
    }
    .icons{
    padding-left: 5px;
    }
    .my-btn:hover{
        background:rgb(153, 3, 3) ;
        }
        .container-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: black;
    margin-top: 10px;
    color: white;
    height: 100vh;
    position: relative;
    
        }
    .container-1 h1{
     margin-top: 30px;
     margin-bottom: 20px; 
     text-align: center;
     margin-left:70px;
    }
    .container-1-text{
    width: 67%;
    font-size: 17px;
    text-align: center;
    margin-bottom: 10px;
margin-left: 20%;
    }
        .container-1 img{
    width: 95%;
    margin: 10px;
        }
        .container-11{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: black;
            margin-top: 10px;
            color: white;
            height: 100vh;
            position: relative;
            
                }
            .container-11 h1{
             margin-top: 30px;
             margin-bottom: 20px; 
             text-align: center;
             margin-left:70px;
            }
            .container-11-text{
            width: 67%;
            font-size: 17px;
            text-align: center;
            margin-bottom: 10px;
        margin-left: 20%;
            }
                .container-11 img{
            width: 95%;
            margin-left: 10px;
                }
    .little-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    width: 50%;
    border: 3px solid rgb(43, 43, 43);
    padding-left: 10px;
    padding-right: 10px;
    bottom:90px;
    border-radius: 10px;
    background: black;
    
    }
    .little-box img{
    width: 40px;
    margin-left: 5px;
    }
    .text-one{
    font-size: 15px;
    
    }
    .text-two{
      color: blue;
      font-size: 13px;
    }
    .container-2{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background: black;
    margin-top: 10px;
    color: white;
    height: 40vh;
        }
        .container-2 h1{
          margin-top: -60px;
          margin-bottom: 20px; 
          text-align: center;
         }
         .container-2-text{
          width: 67%;
          font-size: 17px;
          text-align: center;
          margin-left: 20%;
          } 
     
            
          
     .container-3{
    background: black;
    color: white;
    height: 140vh;
    margin-top: 10px;
    text-align: center;
     } 
     .container-3 h1{
    text-align: center;
    padding-top: 50px;
    width: 82%;
    padding-bottom: 30px;
    padding-left: 80px;
     } 
     .lists-of-divs{
    background: rgb(39, 39, 39);
    margin-bottom: 10px;
    height:70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    margin-bottom: 10px;
     } 
     .lists-of-divs p{
    font-size: 20px;
     } 
     .plus-sign{
    color:rgb(219, 214, 214) ;
     } 
     .lists-of-divs:hover{
      background: rgb(75, 73, 73);  
     }
     .container-3-text{
    margin-top:50px;
    width:70%;
    text-align: center;
    font-size:18px;
    margin-left: 70px;
    margin-bottom: 20px;
     }
     .torm {
        width: 75%;
        margin-right: 35px;
        height: 8vh;
        background:rgb(39, 39, 39);
        opacity:0.8;
        border: none;
        border-radius: 5px;
        border: 1px thin gray;
        margin-bottom: 15px;
        overflow: hidden;
        }
        .torm::placeholder{
        color: rgb(243, 237, 237);
        font-size: 18px;
        padding-left: 10px;
        text-align: center;
        }
        .our-btn{
            background: rgb(219, 5, 5);   
            color: white;
            border: none;
            width:150px;
            height: 50px;
            font-size: 17px;
            text-transform: capitalize;
            border-radius: 5px;
            }



        .footer{
    background: black;
    margin-top: 10px;
    color: white;
    height: 80vh;
        }
    .myfooter-text {
    margin-left: 30px;
    padding-top: 30px;
    color: rgb(180, 177, 177);
    font-size: 18px;
    text-decoration: underline;
    padding-bottom: 10px;
    }
    .flex-footer{  
     display: grid;   
     grid-template-columns: 1fr 1fr; 
     column-gap: 50px; 
    padding: 30px;
    color: rgb(180, 177, 177);
    text-decoration: underline;
    }
    .flex-footer p{
    margin-bottom: 15px;
    }
    .dot{
    margin-left: 30px;
    overflow: hidden;
    background:rgb(39, 39, 39);
    color: white;
    width: 130px;
    height: 30px;
    opacity: 0.8;
    border-radius: 5px;
    border: none;
    border: 1px solid gray;
    margin-bottom:20px ;
    }
    .select{
    border: none;  
    overflow: hidden;
    background:rgb(39, 39, 39);
     color: white;
     font-size: 17px;  
    }
    .earth{
     color: white; 
      font-size:17px ;  
    }
    .boos{
    color: white;
    background:gray;
    }
    .footer-text{
     margin-left: 30px; 
     color: gray;  
    }
    /*Media queries*/
    @media screen and (max-width:706px) {
        .container-1 h1{
            font-size: 44px;
    margin-left:0; 
    }
}
    @media screen and (max-width:820px) {
        .container-1 h1{
            font-size: 80px;
    margin-left:0;
     
    }
}
    @media screen and (max-width:706px) {
        .container-1-text{
            width: 85%;
            font-size: 20px;
    text-align: center;
     margin-left: 30px;   
             
    }
}
    @media screen and (max-width:820px) {
        .container-1-text{
            width: 85%;
            font-size: 90px;
    text-align: center;
     margin-left: 30px;   
             
    }
}
@media screen and (max-width:540px) {
    .container-1 h1{
    font-size: 40px;
    margin-left:0; 
    }
         
}
@media screen and (max-width:540px) {
    .container-1-text{
        width: 85%;
        font-size: 20px;
text-align: center;
          
    }
         
}

    @media screen and (max-width:706px) {
        .torm {
            width: 45%;
            height: 8vh; 
            margin-right: 5px;
            }
     }  

@media screen and (max-width:280px) {
    .flex-item{
height: 12vh;
    }
.our-btn{
height: 30px;

}
.torm{
  height:38px;  
}

}

     @media screen and (max-width:706px){
        .container-11 h1{
            font-size: 34px;
        margin-left: -20px;
    
        }
        }

        @media screen and (max-width:370px){
            .container-11 h1{
                font-size: 30px;
            margin-left: -15px;
            }
            }
        @media screen and (max-width:706px){
            .container-11-text{
                width: 75%;
                font-size: 20px; 
                margin-left: 50px;
                
            }
            }







      
    







































































            

    @media screen and (min-width:700px){
.btn{
width: 13%;

}
 }
 @media screen and (min-width:700px){
 .flex-item{
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }
    }
    @media screen and (min-width:700px){
        .form {
            width: 100%;
            }
           } 
    @media screen and (min-width:700px){
        .my-btn{
            width:350px;
            height: 50px;
            font-size: 25px;
            margin-bottom:15px ;
            margin-left: 10px;
            }
}
@media screen and (min-width:700px){
    .torm {
        width: 50%;
        height: 8vh; 
        margin-right: 10px;
        }
       }
       @media screen and (min-width:700px){
        .our-btn{
            width:200px;
            height: 50px;
            font-size: 25px;
            margin-bottom:15px ;  }       
        }
        @media screen and (min-width:730px){
        .container-1{
            flex-direction: row;
            height: 80vh
} 
        }
@media screen and (min-width:730px){
    .container-1 img{
        width: 50%;
    }       
} 
@media screen and (min-width:730px){
    .container-1 h1{
        font-size: 44px;
margin-left: 2px;


    }
        
} 
@media screen and (min-width:730px){
    .container-1-text{
        width: 100%;
        font-size: 20px;
margin-left: 0;
    padding-left: 23px; 
    }
        
}
@media screen and (min-width:730px){
    .container-11{
        flex-direction: row-reverse;
        height: 80vh;
        align-items: center;
    
}            
} 
@media screen and (min-width:730px){
.container-11 img{
    width: 50%;
}       
} 
@media screen and (min-width:730px){
.container-11 h1{
    font-size: 44px;
padding-right: 10px;
margin-right: 10px;
}
    
} 
@media screen and (min-width:730px){
.container-11-text{
    width: 75%;
    font-size: 20px; 
    margin-right: 10px;
    padding-left: 20px;
}
}

@media screen and (min-width:730px){
.little-box{ 
right: 58%;
width: 35%;
bottom:120px;
height: 12vh;

}
} 
@media screen and (min-width:730px){
    .little-box img{ 
  width: 40px; 
   margin-left:5px ;     
    }
    }
    @media screen and (min-width:730px){
        .container-2{
            flex-direction: row;
justify-content: flex-start;

  }            
}  
@media screen and (min-width:730px){
    .container-2 h1{
        font-size: 44px;
text-align: start;
margin-left:35px ;
    }   
    }
    @media screen and (min-width:730px){
        .container-2-text{
    font-size: 20px;
        margin-left: 0;  
        }
        }  
 @media screen and (min-width:730px) {
 .flex-footer{
flex-direction: column;
flex: 2;
 }
              
 }    
    
 @media screen and (min-width:730px) {
    .flex-footer{
        display: grid;   
        grid-template-columns: 1fr 1fr 1fr; 
        column-gap: 50px; 

    }           
    } 

    @media  screen and (min-width: 1124px) {
.btn{
width: 7%;           
}     
}
@media screen and (min-width:1124px) {
    .form {
        width: 150%;
        }   
    
}
@media screen and (min-width:1124px) {
    .my-btn{
        width:500px;
        height: 50px;
        font-size: 25px;
        margin-bottom:15px ;
        margin-left: 10px;
        } 
}
@media screen and (min-width:1124px) {
    .middle-content h2{
        font-size: 40px;
        font-weight: bolder;
        width: 80%;
       margin-bottom:20px ;
        
        }   
}
@media screen and (min-width:1124px) {
    .first-text{
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 20px;
        } 
}
@media screen and (min-width:1124px) {
    .second-text{
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 20px;
        } 
}
@media screen and (min-width:1124px) {
    .torm {
        width: 35%;
        margin-right: 25px;
        }   
    
}
@media screen and (min-width:1124px) {
    .our-btn{
        width:200px;
        height: 50px;
        font-size: 25px;
        margin-bottom:15px;
        margin-left: -15px;
        } 
    }
        @media screen and (min-width:1124px) {
            .container-3-text{
        
                width:70%;
                text-align: center;
                font-size:18px;
                margin-left: 150px;
                margin-bottom: 20px;
                 }
        }
        @media screen and (min-width:1124px){
            .container-1{
                flex-direction: row;
                height: 80vh;
                align-items: center;
                padding: 10%;
                justify-content: center;
            }
    } 
    @media screen and (min-width:1124px){
        .container-1 img{
            width: 40%;
        }       
    } 
    @media screen and (min-width:1124px){
        .container-1 h1{
            font-size: 60px;
   margin-left: -30%;
            
            
        }
            
    } 
    @media screen and (min-width:1124px){
        .container-1-text{
            font-size: 24px; 
        width: 65%; 
        }
    }

    @media screen and (min-width:730px){
        .container-11{
            flex-direction: row-reverse;
            height: 80vh;
            align-items: center;
            padding: 5%;
        
        
    }            
    } 
    @media screen and (min-width:1124px){
    .container-11 img{
        width: 40%;
    }       
    } 
    @media screen and (min-width:1124px){
    .container-11 h1{
        font-size: 60px;
    padding-right: 10px;
    
    }
        
    } 
    @media screen and (min-width:1124px){
    .container-11-text{
        font-size: 20px; 
       text-align:center ;
       width: 60%;
    }
    }
    @media screen and (min-width:1124px){
        .little-box{ 
        right: 66%;
        width: 22%;
        bottom:120px;
        height: 15vh;
        
        }
        } 
        @media screen and (min-width:1124px){
            .little-box img{ 
          width: 40px; 
         
          ;
             
            }
            }
            @media screen and (min-width:1124px) {
                .flex-footer{
                    display: grid;   
                    grid-template-columns: 1fr 1fr 1fr 1fr; 
                    column-gap: 60px; 
                    margin-left: 50px;
            
                }           
                } 
                @media screen and (min-width:1124px) {
                    .myfooter-text{
                    margin-left: 75px;   
                        
                    }           
                    }           
                    @media screen and (min-width:1124px) {
                        .dot{
                        margin-left: 75px;   
                            
                        }                          } 
                        @media screen and (min-width:1123px) {
                            .footer-text{
                            margin-left: 75px;   
                                
                            }           
                            }  
 @media screen  and (min-width:1123px){
    .lists-of-divs{
        margin-left: 65px;
            background: rgb(39, 39, 39);
            margin-bottom: 10px;
            height:70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            padding-left: 20px;
            padding-right: 20px;
            cursor: pointer;
            margin-bottom: 10px;
             } 
            }
   
              
                    
            


      

















         